# macOS
.DS_Store

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Datasets (local only)
trainval/
data/
images/

# Model checkpoints
*.pth

# Virtual environments
.venv/
env/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix